

.sidebar {
  flex: 2;
  flex-direction: column;
  background-color: blue;
}

.main-section {
  flex: 10;
  background-color: grey;
  flex-direction: column;
  .top-bar {
    flex: 1;
    background-color: green;
  }
  .main-content {
    flex: 10;
    overflow-y: scroll;
  }
}

@media (max-width: 576px) {
  .main-container {
    flex-direction: column;
  }
  .sidebar {
    display: none;
  }
}
