

.sidebar {
  flex: 2;
  flex-direction: column;
  background-color: blue;
  header {
    flex: 1;
    justify-content: space-around;
    .ham-icon {
      display: none;
    }
  }
  nav {
    flex: 10;
  }
}

.main-section {
  flex: 10;
  background-color: grey;
  flex-direction: column;
  .top-bar {
    flex: 1;
    background-color: green;
  }
  .main-content {
    flex: 10;
    overflow-y: scroll;
  }
}

@media (max-width: 576px) {
  .main-container {
    display: block;
    .sidebar {
      height: auto;
      header {
        .ham-icon {
          display: block;
        }
      }
      nav {
        .main-menu {
          display: none;
        }
        .main-menu.active{
          display: block;
        }
      }
    }
  }
}
